.headerStyle {
    position: relative;
    margin: 10px;

    height: 60px;
    width: 100px;
    background-color: rgb(164, 43, 43);

    border-image: url('../../assets/lineas.png') 30 round;   
}

.headerStyle::after {
  content: ''; /* Necesario para crear el pseudo-elemento */
  position: absolute;
  top: -5px;   /* Posición del borde por encima del elemento */
  left: -5px;  /* Alineación en los bordes */
  right: -5px;
  bottom: -5px; /* Aumentamos el tamaño del borde */
  border: 5px solid green; /* Borde de color transparente */
  border-radius: 20px; /* Aseguramos que el borde tenga bordes redondeados */
  border-image: url('../../assets/lineas.png') 30 stretch; /* La imagen que usarás como borde */
   /* Pone el borde debajo del contenido */
   z-index: 2;
}



.b {
  position: relative;
  margin: 20px;
  height: 60px;

  width: 20%;
  min-width: 500px;
  background-color: #c96fcfc4;
  

  color: white;

  text-align: center;
 
}


.b::after {
  content: ''; /* Necesario para crear el pseudo-elemento */
  position: absolute;
  top: -5px;   /* Posición del borde por encima del elemento */
  left: -5px;  /* Alineación en los bordes */
  right: -5px;
  bottom: -5px; /* Aumentamos el tamaño del borde */
  border: 10px solid green; /* Borde de color transparente */
   /* Aseguramos que el borde tenga bordes redondeados */
  border-image: url('../../assets/lapiz.svg') 30 stretch; /* La imagen que usarás como borde */
   /* Pone el borde debajo del contenido */
   z-index: 2;
}


.aaa {

  width: 100px;
  height: 60px;
  background-color: #c96fcfc4;
  color: rgb(59, 168, 108);
  
  text-align: center;
 
  
}

.svg-border {
  position: absolute;
  top: -5; left: 0; right: 0; bottom: 0;
  pointer-events: none; /* Para que el SVG no interfiera con clicks */
  width: 30px;
  height: 100px;
  

  stroke: currentColor; /* Esto permite que el color venga de CSS */
  fill: none; /* Solo borde */
  stroke-width: 5px;

  z-index: 10;
  color: rgb(243, 200, 200); /* Cambia aquí el color del borde */
}

