

.b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  margin: 20px;
  height: 70px;


  width: 90%;
  max-width: 800px;

  background-color: #784899;
  
  color: white;
  background-image: url('../../assets/paper-texture.jpg');
    background-blend-mode:multiply;
}


.b::after {
  content: ''; /* Necesario para crear el pseudo-elemento */
  position: absolute;
  top: -5px;   /* Posición del borde por encima del elemento */
  left: -5px;  /* Alineación en los bordes */
  right: -5px;
  bottom: -5px; /* Aumentamos el tamaño del borde */
  border: 10px solid green; /* Borde de color transparente */
   /* Aseguramos que el borde tenga bordes redondeados */
  border-image: url('../../assets/lila.svg') 30 stretch; /* La imagen que usarás como borde */
   /* Pone el borde debajo del contenido */
   z-index: 2;
   pointer-events: none;
}

.iconosH {
  height: 30px;
  color: #fdf5e1;
}

.sectionsP{
  margin: 0px 0px;
  padding: 0px 10px;
  background-color: rgba(153, 226, 249, 0.314);
}

.buttonI {
  background-color: transparent;
  border: 0px;
  margin: 0px 20px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

}

.buttonI:hover{
  background-color: rgba(167, 92, 232, 0.71);
  transform: scale(1.1);
}

.b button:nth-child(odd){
  transform: rotate(5deg);
}

.b button:nth-child(odd):hover{
  transform: rotate(5deg) scale(1.1);
}

.b button:nth-child(even):hover{
  transform: rotate(-5deg) scale(1.1);
}

